 * {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./imagem/background-jacquin.png");
  background-repeat: no-repeat;
}

.game{
  width: 1000px;
  height: 650px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0px;
  margin: auto;
  bottom: 0px;
  border: 1px solid black;
  display: none;
}

#canvas {  
  background-image: url("./imagem/pesadelo-na-cozinha.jpg");
  background-repeat: no-repeat;
}
